<%= form_for(@park) do |f| %>
  <% if @park.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@park.errors.count, "error") %> prohibited this park from being saved:</h2>

      <ul>
      <% @park.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :classification %><br />
    <%= f.text_field :classification %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :gix_ac %><br />
    <%= f.text_field :gix_ac %>
  </div>
  <div class="field">
    <%= f.label :zip_code %><br />
    <%= f.number_field :zip_code %>
  </div>
  <div class="field">
    <%= f.label :pavilions %><br />
    <%= f.number_field :pavilions %>
  </div>
  <div class="field">
    <%= f.label :playgrounds %><br />
    <%= f.number_field :playgrounds %>
  </div>
  <div class="field">
    <%= f.label :picnic_shelters %><br />
    <%= f.number_field :picnic_shelters %>
  </div>
  <div class="field">
    <%= f.label :gazebos %><br />
    <%= f.number_field :gazebos %>
  </div>
  <div class="field">
    <%= f.label :picnic_Tables %><br />
    <%= f.number_field :picnic_Tables %>
  </div>
  <div class="field">
    <%= f.label :grills %><br />
    <%= f.number_field :grills %>
  </div>
  <div class="field">
    <%= f.label :restrooms %><br />
    <%= f.number_field :restrooms %>
  </div>
  <div class="field">
    <%= f.label :parking_spaces %><br />
    <%= f.number_field :parking_spaces %>
  </div>
  <div class="field">
    <%= f.label :ball_fields %><br />
    <%= f.number_field :ball_fields %>
  </div>
  <div class="field">
    <%= f.label :soccer_fields %><br />
    <%= f.number_field :soccer_fields %>
  </div>
  <div class="field">
    <%= f.label :tennis_courts %><br />
    <%= f.number_field :tennis_courts %>
  </div>
  <div class="field">
    <%= f.label :basketball_courts %><br />
    <%= f.number_field :basketball_courts %>
  </div>
  <div class="field">
    <%= f.label :volleyball_courts %><br />
    <%= f.number_field :volleyball_courts %>
  </div>
  <div class="field">
    <%= f.label :pool %><br />
    <%= f.check_box :pool %>
  </div>
  <div class="field">
    <%= f.label :gym %><br />
    <%= f.check_box :gym %>
  </div>
  <div class="field">
    <%= f.label :recreation_center %><br />
    <%= f.check_box :recreation_center %>
  </div>
  <div class="field">
    <%= f.label :covbb %><br />
    <%= f.check_box :covbb %>
  </div>
  <div class="field">
    <%= f.label :dog_park %><br />
    <%= f.check_box :dog_park %>
  </div>
  <div class="field">
    <%= f.label :track %><br />
    <%= f.check_box :track %>
  </div>
  <div class="field">
    <%= f.label :nat %><br />
    <%= f.check_box :nat %>
  </div>
  <div class="field">
    <%= f.label :golf %><br />
    <%= f.check_box :golf %>
  </div>
  <div class="field">
    <%= f.label :area %><br />
    <%= f.text_field :area %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
