<h1>Listing parks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Classification</th>
    <th>Address</th>
    <th>Gix ac</th>
    <th>Zip code</th>
    <th>Pavilions</th>
    <th>Playgrounds</th>
    <th>Picnic shelters</th>
    <th>Gazebos</th>
    <th>Picnic tables</th>
    <th>Grills</th>
    <th>Restrooms</th>
    <th>Parking spaces</th>
    <th>Ball fields</th>
    <th>Soccer fields</th>
    <th>Tennis courts</th>
    <th>Basketball courts</th>
    <th>Volleyball courts</th>
    <th>Pool</th>
    <th>Gym</th>
    <th>Recreation center</th>
    <th>Covbb</th>
    <th>Dog park</th>
    <th>Track</th>
    <th>Nat</th>
    <th>Golf</th>
    <th>Area</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @parks.each do |park| %>
  <tr>
    <td><%= park.name %></td>
    <td><%= park.classification %></td>
    <td><%= park.address %></td>
    <td><%= park.gix_ac %></td>
    <td><%= park.zip_code %></td>
    <td><%= park.pavilions %></td>
    <td><%= park.playgrounds %></td>
    <td><%= park.picnic_shelters %></td>
    <td><%= park.gazebos %></td>
    <td><%= park.picnic_Tables %></td>
    <td><%= park.grills %></td>
    <td><%= park.restrooms %></td>
    <td><%= park.parking_spaces %></td>
    <td><%= park.ball_fields %></td>
    <td><%= park.soccer_fields %></td>
    <td><%= park.tennis_courts %></td>
    <td><%= park.basketball_courts %></td>
    <td><%= park.volleyball_courts %></td>
    <td><%= park.pool %></td>
    <td><%= park.gym %></td>
    <td><%= park.recreation_center %></td>
    <td><%= park.covbb %></td>
    <td><%= park.dog_park %></td>
    <td><%= park.track %></td>
    <td><%= park.nat %></td>
    <td><%= park.golf %></td>
    <td><%= park.area %></td>
    <td><%= link_to 'Show', park %></td>
    <td><%= link_to 'Edit', edit_park_path(park) %></td>
    <td><%= link_to 'Destroy', park, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Park', new_park_path %>
