<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @park.name %>
</p>

<p>
  <b>Classification:</b>
  <%= @park.classification %>
</p>

<p>
  <b>Address:</b>
  <%= @park.address %>
</p>

<p>
  <b>Gix ac:</b>
  <%= @park.gix_ac %>
</p>

<p>
  <b>Zip code:</b>
  <%= @park.zip_code %>
</p>

<p>
  <b>Pavilions:</b>
  <%= @park.pavilions %>
</p>

<p>
  <b>Playgrounds:</b>
  <%= @park.playgrounds %>
</p>

<p>
  <b>Picnic shelters:</b>
  <%= @park.picnic_shelters %>
</p>

<p>
  <b>Gazebos:</b>
  <%= @park.gazebos %>
</p>

<p>
  <b>Picnic tables:</b>
  <%= @park.picnic_Tables %>
</p>

<p>
  <b>Grills:</b>
  <%= @park.grills %>
</p>

<p>
  <b>Restrooms:</b>
  <%= @park.restrooms %>
</p>

<p>
  <b>Parking spaces:</b>
  <%= @park.parking_spaces %>
</p>

<p>
  <b>Ball fields:</b>
  <%= @park.ball_fields %>
</p>

<p>
  <b>Soccer fields:</b>
  <%= @park.soccer_fields %>
</p>

<p>
  <b>Tennis courts:</b>
  <%= @park.tennis_courts %>
</p>

<p>
  <b>Basketball courts:</b>
  <%= @park.basketball_courts %>
</p>

<p>
  <b>Volleyball courts:</b>
  <%= @park.volleyball_courts %>
</p>

<p>
  <b>Pool:</b>
  <%= @park.pool %>
</p>

<p>
  <b>Gym:</b>
  <%= @park.gym %>
</p>

<p>
  <b>Recreation center:</b>
  <%= @park.recreation_center %>
</p>

<p>
  <b>Covbb:</b>
  <%= @park.covbb %>
</p>

<p>
  <b>Dog park:</b>
  <%= @park.dog_park %>
</p>

<p>
  <b>Track:</b>
  <%= @park.track %>
</p>

<p>
  <b>Nat:</b>
  <%= @park.nat %>
</p>

<p>
  <b>Golf:</b>
  <%= @park.golf %>
</p>

<p>
  <b>Area:</b>
  <%= @park.area %>
</p>


<%= link_to 'Edit', edit_park_path(@park) %> |
<%= link_to 'Back', parks_path %>
